<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <button>
    <a href="http://localhost:3000/api/auth/login/federated/google">Sign in with Google</a>
  </button>
  <button>
    <a href="http://localhost:3000/api/auth/login/azure-ad">Sign in with Azure</a>
  </button>
</body>
</html>